<h2>Users Index</h2>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>About</th>
      <th>---</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td> <%= user.username %></td>
      <td> <%= user.about %></td>
      <td> <%= link_to "Edit", edit_user_path(user) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<h2> <%= link_to "Courses Index", courses_path %></h2>
